<script src="assets/js/app-charts.js"></script>
<div class="container-fluid top-bar-wrapper">
  <div class="top-bar">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <a href="#"><img src="assets/images/thinkpeople-logo.png" alt="" width="120"></a>
      </div>
      <div class="col-lg-4 text-right">
        <img src="assets/images/lc-logo.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="main dashboard">
  <div class="main-wrapper container-fluid">

    <div class="row mt-2 mb-2 justify-content-end no-gutters dashboard-figures">

      <div class="col">
        <div class="dashboard-figure text-center text-uppercase">
          Marketing
          <span class="numbers">1570</span>
          Marketing
        </div>
      </div>
      <div class="col">
        <div class="dashboard-figure text-center text-uppercase">
          Marketing
          <span class="numbers">1570</span>
          Marketing
        </div>
      </div>
      <div class="col">
        <div class="dashboard-figure text-center text-uppercase">
          Marketing
          <span class="numbers">1570</span>
          Marketing
        </div>
      </div>
      <div class="col">
        <div class="dashboard-figure text-center text-uppercase">
          Marketing
          <span class="numbers">1570</span>
          Marketing
        </div>
      </div>
      <div class="col">
        <div class="dashboard-figure text-center text-uppercase">
          Marketing
          <span class="numbers">1570</span>
          Marketing
        </div>
      </div>
      <div class="col">
        <div class="dashboard-figure text-center text-uppercase">
          Marketing
          <span class="numbers">1570</span>
          Marketing
        </div>
      </div>


    </div>

    <div class="mt-1">
      <div class="row align-items-end">
        <div class="col-lg-6">
          <div class="dashboard-item">
            <canvas id="stacked-bar-chart"></canvas>
            <div class="chart-title">
              <span>MANPOWER USAGE</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="dashboard-item">
            <canvas id="salary-cost-heat-map"></canvas>
            <div class="chart-title">
              <span>SALARY COST HEATMAP</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="dashboard-item">
            <canvas id="pieChart2Canvas"></canvas>
            <div class="chart-title">
              <span>SALARY COST HEATMAP</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="row eq">
        <div class="col-lg-4 row-eq-height">
          <div class="dashboard-item ">
            <div class="table-wrapper">
              <p>
                <select name="" id="" class="form-control form-control-sm inline">
                  <option value="">SALARIES OVERDUE</option>
                </select>
              </p>
              <table class="table datatable table-sm">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>FTD</th>
                    <th>MTD</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="chart-title">
              <span>MANPOWER USAGE</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 row-eq-height eq-height-hook">
          <div class="dashboard-item ">
            <canvas id="polarChart3"></canvas>



            <div class="chart-title">
              <span>TEAM UTILITY - WEEKLY ASSESMENT</span>
            </div>

          </div>
        </div>
        <div class="col-lg-4 row-eq-height">

          <div class="dashboard-item">
            <div class="table-wrapper">
              <table class="table datatable table-sm">
                <thead>
                  <tr>
                    <th></th>
                    <th>Project</th>
                    <th>Task</th>
                    <th>Days</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>

                  <tr>
                    <td><input type="checkbox"></td>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>

                  <tr>
                    <td><input type="checkbox"></td>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>

                  <tr>
                    <td><input type="checkbox"></td>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td scope="row">04/01/2019</td>
                    <td>23,245</td>
                    <td>29,661</td>
                  </tr>


                </tbody>
              </table>
            </div>
            <div class="chart-title">
              <span>TEAM UTILITY - WEEKLY ASSESMENT</span>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="mt-1">
      <div class="row align-items-end">
        <div class="col-lg-8">
          <div class="dashboard-item">
            <canvas id="stacked-bar-chart-2"></canvas>
            <div class="chart-title">
              <span>MANPOWER USAGE</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="dashboard-item">
            <canvas id="pieChart7Canvas"></canvas>
            <div class="chart-title">
              <span>MANPOWER USAGE</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="text-right">
        <img src="assets/images/ts-logo.png" alt="" width="100">
      </div>
    </div>
  </div>